* {
    box-sizing: border-box;
    font-family: raleway, sans-serif;
}


@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
    url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
    url('../fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}




@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
    url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}


/*HEAD*/

header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



.containet {
    width: 1000px;
    margin: 0 auto;

}


.containet__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.containet__menu {
    display: flex;
}



h1 {
    color: white;
    font-size: 20px;
}
.color {
    color: #27C7AB;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

/*HEAD*/


/*SECTION ONE*/

.section_one {
    background-image: linear-gradient(white, lightgray);
    display: flex;
}

.content {
    display: flex;


}

.containet__img {
    width: 50%;
    margin-top: 50px;
}

.containet__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 100;
    margin-top: 50px;
}


h2 {
    margin: 50px 0 30px 0;
    font-size: 45px;
}

button {
    background-color: #27C7AB;
    color: white;
    border: none;
    border-radius: 10px 10px 10px 10px;
    width: 170px;
    height: 30px;
    margin-top: 30px;

}

/*SECTION ONE*/




/*SECTION PICTURE*/


.section__galery {
    display: flex;
    margin-top: 10px;
}



.chair {
    width: 33%;
    position: relative;

}


.chair span {
    bottom: 68px;
    left: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, .2);

}


.all_inputs {
    width: 34%;
    border: 1px solid lightgray;

}

h3 {
    font-weight: bold;
    border-bottom: 4px solid #27C7AB;

}


.price__list {
    background-color: lightgray;
}