
footer {
    height: 70px;
}

.foot {
    position: relative;
}

footer span {
    font-weight: bold;
}


.icon {
    position: absolute;
    left: 650px;
}

footer p {
    padding-top: 10px;
    color: grey;
}
